* {
	box-sizing: border-box;
	font-family: system-ui;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: #FCFAF9;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1b1b1b;
		color: #fff;
	}
}

body {
	width: min(79ch, 80%);
	margin: 0 auto;
	font-size: 100%;
}

.picture img, .details {
	max-width: 30ch;
	margin: 1em;
}

.vcard img {
	width: 30ch;
}

.personal {
	display: flex;
}

.role {
	font-weight: bold;
}

.positions, .qualifications {
	list-style-type: none;
	padding: 0;
}

.qualification {
	margin-top: 1em;

}

a:link {
	color: #0069c2;
}

a:visited {
	color: #551a8b;
}

.last-updated {
	font-size: 75%;
	opacity: 0.75;
}
