h1, h2 {
    font-family: serif;
    font-weight: 100;
    font-size: 1.5em
}

header h1 {
    font-size: xxx-large;
}

body {
    font-family: monospace;
}

ul {
    list-style-type: none;
}

footer {
    font-size:small;
}
